.nav {
  height: 10vh;
  width: 100vw;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 5px 50px green;
}

.link {
  height: 60px;
  width: 200px;
}

.link:hover {
  background-color: lightgreen;
}

